<!DOCTYPE html>
<html>
  <head>
    <title>JSDownloader</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/app.js"></script>
  </head>
  <body>
    <div id="content" class="container">
      <div id="header">
        <p><img src="/img/jsdownloader-logo.gif" title="JSDownloader"></p>
        <h2>Download a ZIP of your favorite JSFiddle, JSBin, or CodePen!</h2>
      </div>
      <form action="/download" method="post" class="span8 form-signin">
        <p>
          <input type="text" id="source_url" name="source_url" placeholder="Enter a JSFiddle, JSBin, or CodePen URL" class="input-block-level">
        </p>
        <p>
          <input type="submit" value="DOWNLOAD" class="btn btn-large btn-primary">
        </p>
      </form>
    </div>
  </body>
</html>