extends layout

block content
    div(class="container", id="content")
        div#header
            p
                a(href="/")
                    img(src="/img/jsdownloader-logo.gif", title="JSDownloader")

            h2 Download a ZIP of your favorite JSFiddle, JSBin, or CodePen!

        form(action="/download", method="post", class="span8 form-signin")
                p
                    input(type="text", id="source_url", name="source_url", class="input-block-level", placeholder="Enter a JSFiddle, JSBin, or CodePen URL")

                p
                    button DOWNLOAD

        div#messages
            if msg
                p #{msg}
                ul.callout
                    li(class="muted")

        div#extras
            h3 Recently Downloaded

            ul.callout
                li
                    a(href="http://jsfiddle.net/commadelimited/SA45t/2/") http://jsfiddle.net/commadelimited/SA45t/2/
                li
                    a(href="http://jsfiddle.net/odigity/zS5uu/") http://jsfiddle.net/odigity/zS5uu/
                li
                    a(href="http://jsfiddle.net/mT76T/17/") http://jsfiddle.net/mT76T/17/
                li
                    a(href="http://codepen.io/katmai7/pen/cDtIo") http://codepen.io/katmai7/pen/cDtIo
                li
                    a(href="http://jsbin.com/oxuyop/777") http://jsbin.com/oxuyop/777
