doctype 5
html
    head
        title JSDownloader
        link(rel='stylesheet', href='/css/style.css')
        link(rel='shortcut icon', href='/img/favicon.png', type="image/png")
        script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
        script(src="/socket.io/socket.io.js")
        script(src="/js/app.js")
    body
        block content

    script(type='text/javascript')
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-6902792-1']);
          _gaq.push(['_trackPageview']);

          (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();