/* variables */
$yellow: #f9e034;

html {
    height: 100%;
    background: #414143;
    background: -moz-radial-gradient(center, ellipse cover,  hsl(240,2%,26%) 0%, hsl(240,10%,18%) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,hsl(240,2%,26%)), color-stop(100%,hsl(240,10%,18%)));
    background: -webkit-radial-gradient(center, ellipse cover,  hsl(240,2%,26%) 0%,hsl(240,10%,18%) 100%);
    background: -o-radial-gradient(center, ellipse cover,  hsl(240,2%,26%) 0%,hsl(240,10%,18%) 100%);
    background: -ms-radial-gradient(center, ellipse cover,  hsl(240,2%,26%) 0%,hsl(240,10%,18%) 100%);
    background: radial-gradient(ellipse at center,  hsl(240,2%,26%) 0%,hsl(240,10%,18%) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#414143', endColorstr='#282831',GradientType=1 );
    // background: #282833;
    // background: -moz-linear-gradient(top,  hsl(240,12%,18%) 0%, hsl(240,1%,35%) 100%);
    // background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,hsl(240,12%,18%)), color-stop(100%,hsl(240,1%,35%)));
    // background: -webkit-linear-gradient(top,  hsl(240,12%,18%) 0%,hsl(240,1%,35%) 100%);
    // background: -o-linear-gradient(top,  hsl(240,12%,18%) 0%,hsl(240,1%,35%) 100%);
    // background: -ms-linear-gradient(top,  hsl(240,12%,18%) 0%,hsl(240,1%,35%) 100%);
    // background: linear-gradient(to bottom,  hsl(240,12%,18%) 0%,hsl(240,1%,35%) 100%);
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#282833', endColorstr='#575759',GradientType=0 );
}

#content {
    text-align: center;

    #header {
        margin: 40px 20px;

        h2 {
            color: white;
            font: 1.1em 'Lato';
        }
        > p:first-child {
            margin-bottom: 40px;

            img {
                box-shadow: 0 5px 20px rgba(0, 0, 0, .5);
            }
        }
    }
}

form {

    input[type=text] {
        background: white;
        border: 2px solid $yellow;
        width: 510px;
        height: 40px;
        font: 1.1em 'Lato';
        text-align: center;
        border-radius: 5px;
        box-shadow: inset 0 0px 15px rgba(0, 0, 0, .3),
                    0 5px 20px rgba(0, 0, 0, .5);
    }

    input[type=submit] {
        background: $yellow;
        border-bottom: 2px solid #b59e00;
        width: 214px;
        height: 40px;
        font-weight: bold;
        font: 1.1em 'Lato';
    }
}

/* fonts */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'),
    local('Lato-Regular'),
    url('/fonts/lato-regular.ttf') format('truetype'),
    url('/fonts/lato-regular.woff') format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'),
    local('Lato-Bold'),
    url('/fonts/lato-bold.ttf') format('truetype'),
    url('/fonts/lato-bold.woff') format('woff');
}