/* variables */
$yellow: #f9e034;
$grey: #777777;


html {
    height: 100%;
    background: #414143;
    background: -moz-radial-gradient(center, ellipse cover,  hsl(240,2%,26%) 0%, hsl(240,10%,18%) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,hsl(240,2%,26%)), color-stop(100%,hsl(240,10%,18%)));
    background: -webkit-radial-gradient(center, ellipse cover,  hsl(240,2%,26%) 0%,hsl(240,10%,18%) 100%);
    background: -o-radial-gradient(center, ellipse cover,  hsl(240,2%,26%) 0%,hsl(240,10%,18%) 100%);
    background: -ms-radial-gradient(center, ellipse cover,  hsl(240,2%,26%) 0%,hsl(240,10%,18%) 100%);
    background: radial-gradient(ellipse at center,  hsl(240,2%,26%) 0%,hsl(240,10%,18%) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#414143', endColorstr='#282831',GradientType=1 );
}

#content {
    text-align: center;
    width: 530px;
    margin: 0 auto;

    #header {
        margin: 40px 0 20px;

        h2 {
            color: white;
            font: 1.05em 'Lato Regular';
        }
        > p:first-child {
            margin-bottom: 40px;

            img {
                box-shadow: 0 5px 20px rgba(0, 0, 0, .5);
            }
        }
    }
}

form {

    margin-bottom: 60px;

    input[type=text] {
        background: white;
        border: 2px solid $yellow;
        width: 510px;
        height: 40px;
        font: 1.4em 'Lato';
        text-align: center;
        border-radius: 5px;
        box-shadow: inset 0 0px 15px rgba(0, 0, 0, .3),
                    0 5px 20px rgba(0, 0, 0, .5);
    }

    button {
        background: $yellow;
        border: 0;
        box-shadow: 0 5px 0px rgb(181, 158, 0);
        width: 214px;
        height: 40px;
        font: 1.1em 'Lato Black';
        border-radius: 5px;
        cursor: pointer;
    }
}

#messages {
    text-align: left;

    > p:first-child {
        color: $yellow;
        font: 1.1em 'Lato Bold';
    }

    h3 {
        color: $yellow;
        font: 1.1em 'Lato Bold';
        padding: 0 0 10px 10px;
        margin: 0 0 8px 0;
    }

    .callout {
        list-style: none;
        margin: 0 0 30px 0;
        padding: 0 0 0 5px;

        li {
            padding: 5px;
            font: 1em 'Lato Regular';
            color: $grey;
        }

        .muted {
            margin-bottom: 10px;
        }

        .complete {
            color: $yellow;
        }
    }
}

#extras {
    text-align: left;

    h3 {
        color: $yellow;
        font: 1.1em 'Lato Bold';
        border-bottom: 1px solid $grey;
        padding: 0 0 10px 10px;
        margin: 0 0 8px 0;
    }

    .callout {
        list-style: none;
        margin: 0;
        padding: 0 0 0 5px;

        li {
            padding: 5px;

            a {
                font: 1em 'Lato Regular';
                color: $grey;
                &:hover, &:visited:hover {
                    color: $yellow;
                }
            }
        }
    }

}

/* fonts */
@font-face {
  font-family: 'Lato Regular';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'),
    local('Lato-Regular'),
    url('/fonts/lato-regular.ttf') format('truetype'),
    url('/fonts/lato-regular.woff') format('woff');
}
@font-face {
  font-family: 'Lato Bold';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'),
    local('Lato-Bold'),
    url('/fonts/lato-bold.ttf') format('truetype'),
    url('/fonts/lato-bold.woff') format('woff');
}
@font-face {
  font-family: 'Lato Black';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Black'),
    local('Lato-Black'),
    url('/fonts/lato-black.ttf') format('truetype'),
    url('/fonts/lato-black.woff') format('woff');
}