/* variables */
html {
  height: 100%;
  background: #414143;
  background: -moz-radial-gradient(center, ellipse cover, #414144 0%, #292932 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #414144), color-stop(100%, #292932));
  background: -webkit-radial-gradient(center, ellipse cover, #414144 0%, #292932 100%);
  background: -o-radial-gradient(center, ellipse cover, #414144 0%, #292932 100%);
  background: -ms-radial-gradient(center, ellipse cover, #414144 0%, #292932 100%);
  background: radial-gradient(ellipse at center, #414144 0%, #292932 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#414143', endColorstr='#282831',GradientType=1 );
}

#content {
  text-align: center;
  width: 530px;
  margin: 0 auto;
}
#content #header {
  margin: 40px 0 20px;
}
#content #header h2 {
  color: white;
  font: 1.05em 'Lato Regular';
}
#content #header > p:first-child {
  margin-bottom: 40px;
}
#content #header > p:first-child img {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

form {
  margin-bottom: 60px;
}
form input[type=text] {
  background: white;
  border: 2px solid #f9e034;
  width: 510px;
  height: 40px;
  font: 1.4em 'Lato';
  text-align: center;
  border-radius: 5px;
  box-shadow: inset 0 0px 15px rgba(0, 0, 0, 0.3), 0 5px 20px rgba(0, 0, 0, 0.5);
}
form button {
  background: #f9e034;
  border: 0;
  box-shadow: 0 5px 0px #b59e00;
  width: 214px;
  height: 40px;
  font: 1.1em 'Lato Black';
  border-radius: 5px;
  cursor: pointer;
}

#messages {
  text-align: left;
}
#messages > p:first-child {
  color: #f9e034;
  font: 1.1em 'Lato Bold';
}
#messages h3 {
  color: #f9e034;
  font: 1.1em 'Lato Bold';
  padding: 0 0 10px 10px;
  margin: 0 0 8px 0;
}
#messages .callout {
  list-style: none;
  margin: 0 0 30px 0;
  padding: 0 0 0 5px;
}
#messages .callout li {
  padding: 5px;
  font: 1em 'Lato Regular';
  color: #777777;
}
#messages .callout .complete {
  color: #f9e034;
}

#extras {
  text-align: left;
}
#extras h3 {
  color: #f9e034;
  font: 1.1em 'Lato Bold';
  border-bottom: 1px solid #777777;
  padding: 0 0 10px 10px;
  margin: 0 0 8px 0;
}
#extras .callout {
  list-style: none;
  margin: 0;
  padding: 0 0 0 5px;
}
#extras .callout li {
  padding: 5px;
}
#extras .callout li a {
  font: 1em 'Lato Regular';
  color: #777777;
}
#extras .callout li a:hover, #extras .callout li a:visited:hover {
  color: #f9e034;
}

/* fonts */
@font-face {
  font-family: 'Lato Regular';
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url("/fonts/lato-regular.ttf") format("truetype"), url("/fonts/lato-regular.woff") format("woff");
}

@font-face {
  font-family: 'Lato Bold';
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("Lato-Bold"), url("/fonts/lato-bold.ttf") format("truetype"), url("/fonts/lato-bold.woff") format("woff");
}

@font-face {
  font-family: 'Lato Black';
  font-style: normal;
  font-weight: 700;
  src: local("Lato Black"), local("Lato-Black"), url("/fonts/lato-black.ttf") format("truetype"), url("/fonts/lato-black.woff") format("woff");
}
