body {
  padding: 50px;
  font: 14px "Trebuchet MS", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.form-signin {
    float: none;
    margin: 30px auto 20px;
    padding: 19px 29px 29px;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.form-signin input[type="text"],
.form-signin input[type="password"] { font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

h2 {
    font-size: 1.5em;
}

li { line-height: 30px; }
